
@{
    ViewData["Title"] = "Access Denied";
}

<div class="d-flex flex-column align-items-center justify-content-center vh-100">
    <h1 class="text-danger">403 - Access Denied</h1>
    <p class="lead">You do not have permission to access this page.</p>

    <img src="https://cdn-icons-png.flaticon.com/512/564/564619.png" alt="Access Denied" width="200" />

    <a asp-controller="GuestNewsArticles" asp-action="Index" class="btn btn-primary mt-3">Go to Home</a>
</div>
