@model BusinessObjects.Models.NewsArticle

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<h1>Create</h1>

<h4>NewsArticle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewsArticleId" class="control-label"></label>
                <input asp-for="NewsArticleId" class="form-control" />
                <span asp-validation-for="NewsArticleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsTitle" class="control-label"></label>
                <input asp-for="NewsTitle" class="form-control" />
                <span asp-validation-for="NewsTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Headline" class="control-label"></label>
                <input asp-for="Headline" class="form-control" />
                <span asp-validation-for="Headline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsContent" class="control-label"></label>
                <input asp-for="NewsContent" class="form-control" />
                <span asp-validation-for="NewsContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsSource" class="control-label"></label>
                <input asp-for="NewsSource" class="form-control" />
                <span asp-validation-for="NewsSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NewsStatus" class="control-label"></label>
                <input asp-for="NewsStatus" class="form-control" />
                <span asp-validation-for="NewsStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedById" class="control-label"></label>
                <select asp-for="CreatedById" class ="form-control" asp-items="ViewBag.CreatedById"></select>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedById" class="control-label"></label>
                <input asp-for="UpdatedById" class="form-control" />
                <span asp-validation-for="UpdatedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
